.liminal-navbar {
  background-color: #000000bb;
  border-bottom: 1px solid #4caf50;
  padding: 12px 0;
  gap: 4px;
  border-radius: 10px 10px 10px 10px;
  margin-top: 13px;
}

.liminal-logo {
  color: #4caf50 !important;
  font-weight: 900;
  font-size: 1.5rem;
  letter-spacing: 2px;
  text-shadow: 0 0 10px #00ff00;
}

.liminal-link {
  color: #fff !important;
  letter-spacing: 2px;
  font-size: 0.85rem;
  text-transform: uppercase;
  transition: color 0.3s ease;
}

.liminal-link:hover {
  color: #4caf50 !important;
}

.navbar-toggler {
  border-color: #4caf50;
}

.navbar-toggler-icon {
  filter: invert(1);
}